#content{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50rem;
}
#content > form {
    padding: 5%;
    padding-top: 1%;
    border-radius: 1rem;

    color: white;
    background-color: black;
}
.inputGroup{
    padding-bottom: 4%;
}

.inputField {
    width: 100%;
    border: none;

    border-radius: 1rem;
    padding: 2%;

    font-size: medium;
}

#login{
    margin-bottom: 5%;
}