body {
    display:flex;
    justify-content: center;
    align-items: center;

    height: 95vh;
}

form {
    color:white;
    background-color: black;

    padding: 5%;
    border-radius: 1rem;

    font-size: xx-large;
}


/* 
    These two must be like this and toghether
*/
form > * {
    margin-top: 20%;
}
form > button{
    margin-top: 2%;
}

.select {
    /* border: none; */
    all: none;
    background-color: white;
    color: black;

    border-radius: 2rem;
    /* border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem; */

    font-size: large;

    margin: 1%;
    padding: 2%;
}
.select:focus{
    outline: none;
}